{:deps {org.clojure/clojure {:mvn/version "1.11.1"}

        poly/grid {:local/root "../../components/grid"}
        poly/life {:local/root "../../components/life"}
        poly/quil {:local/root "../../components/quil"}
        poly/cli  {:local/root "../../bases/quil-cli"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}}}
